body {
  background-color: #000;
}

.carousel {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 left:-100%;
 min-height:100px;
 position:relative;
 -webkit-transform-origin:0;
 -ms-transform-origin:0;
 transform-origin:0;
 -webkit-transform:translateX(100%);
 -ms-transform:translateX(100%);
 transform:translateX(100%)
}
.carousel .videoPoster {
 background-color:transparent
}
.carousel .wrapper {
 overflow:hidden
}
.carousel .nav {
 float:left
}
.carousel .item {
 opacity:0;
 -webkit-box-flex:1;
 -webkit-flex:1 0 100%;
 -ms-flex:1 0 100%;
 flex:1 0 100%;
 -webkit-box-ordinal-group:3;
 -webkit-order:2;
 -ms-flex-order:2;
 order:2;
 -webkit-transition:opacity .2s ease-in-out;
 transition:opacity .2s ease-in-out
}
.carousel .item.first {
 -webkit-box-ordinal-group:2;
 -webkit-order:1;
 -ms-flex-order:1;
 order:1;
 opacity:1
}
.carousel .carousel-pips {
 position:absolute;
 top:85%;
 width:100%;
 z-index:13
}
.carousel .carousel-pips .pip-wrapper {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 margin-left:auto;
 margin-right:auto;
 cursor:pointer
}
.carousel .carousel-pips .pip {
 width:25px;
 height:40px;
 display:inline-block;
 text-align:center
}
.carousel .carousel-pips .pip:hover .pip-circle {
 background-color:#d8d8d8
}
.carousel .carousel-pips .pip.active .pip-circle {
 background-color:#999
}
.carousel .carousel-pips .pip-circle {
 width:13px;
 display:inline-block;
 height:13px;
 border:2px solid #222;
 border-radius:50%;
 background-color:#666;
 margin-top:12px
}
.carousel .carousel-navigation {
 display:none;
 pointer-events:none
}
.carousel .carousel-navigation div {
 width:100px;
 cursor:pointer;
 font-size:18pt;
 color:#fff;
 position:relative;
 padding:50px 5px;
 pointer-events:all;
 opacity:.5;
 background-color:transparent;
 background-image:url('../img/right.ea2388a2.svg');
 background-clip:content-box;
 background-position:50%;
 background-repeat:no-repeat;
 background-size:30%;
 height:157px
}
.carousel .carousel-navigation div:hover {
 opacity:1
}
.carousel .carousel-navigation div.prev {
 float:left;
 left:34px;
 -webkit-transform:rotate(180deg);
 -ms-transform:rotate(180deg);
 transform:rotate(180deg)
}
.carousel .carousel-navigation div.next {
 float:right;
 right:34px
}
.carousel .carousel-navigation div.hidden {
 display:none
}
@media (min-width:1201px) {
 .carousel {
  min-height:300px
 }
}
@media (min-width:1201px) {
 .carousel .item {
  -webkit-transition-duration:1.3s;
  transition-duration:1.3s
 }
}
@media (min-width:1201px) {
 .carousel .carousel-pips {
  top:71%
 }
}
@media (min-width:1451px) {
 .carousel .carousel-pips {
  top:77%
 }
}
@media (min-width:1201px) {
 .carousel .carousel-navigation {
  display:inline-block;
  position:absolute;
  top:42px;
  margin-bottom:-170px;
  width:100%;
  z-index:13;
  top:40%
 }
}
.empty-carousel {
 min-height:100px
}
@media (min-width:1201px) {
 .empty-carousel {
  min-height:300px
 }
}
#carousel-container {
 position:relative;
 overflow:hidden
}
#carousel-container .carousel-navigation {
 pointer-events:none;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between;
 position:absolute;
 width:100%;
 height:100%;
 top:50%;
 left:50%;
 -webkit-transform:translate(-50%,-50%);
 -ms-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 display:none
}
#carousel-container .carousel-navigation .arrow-container-left,#carousel-container .carousel-navigation .arrow-container-right {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 min-width:20%;
 height:100%;
 pointer-events:all;
 cursor:pointer
}
#carousel-container .carousel-navigation .arrow-container-left:hover .arrow,#carousel-container .carousel-navigation .arrow-container-right:hover .arrow {
 opacity:1
}
#carousel-container .carousel-navigation .arrow-container-left {
 -webkit-box-pack:start;
 -webkit-justify-content:flex-start;
 -ms-flex-pack:start;
 justify-content:flex-start
}
#carousel-container .carousel-navigation .arrow-container-right {
 -webkit-box-pack:end;
 -webkit-justify-content:flex-end;
 -ms-flex-pack:end;
 justify-content:flex-end
}
#carousel-container .carousel-navigation .arrow {
 width:100px;
 font-size:18pt;
 color:#fff;
 position:relative;
 padding:50px 5px;
 pointer-events:all;
 opacity:.5;
 background-color:transparent;
 background-image:url('../img/right.ea2388a2.svg');
 background-clip:content-box;
 background-position:50%;
 background-repeat:no-repeat;
 background-size:30%;
 height:157px
}
#carousel-container .carousel-navigation .arrow.prev {
 float:left;
 left:34px;
 -webkit-transform:rotate(180deg);
 -ms-transform:rotate(180deg);
 transform:rotate(180deg);
 display:none
}
#carousel-container .carousel-navigation .arrow.next {
 float:right;
 right:34px;
 display:none
}
#carousel-container .carousel-navigation .arrow.hidden {
 display:none
}
#carousel-container .carousel-item {
 position:relative;
 margin:5px;
 width:289px;
 display:inline-block;
 background-color:#2e2e2e;
 white-space:normal
}
#carousel-container .carousel-item a {
 background-color:#000;
 -webkit-animation:.4s steadyFadeIn ease-in-out;
 animation:.4s steadyFadeIn ease-in-out;
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 pointer-events:none
}
#carousel-container .carousel-item .image-container {
 overflow:hidden
}
#carousel-container .carousel-item img {
 width:100%;
 height:auto
}
#carousel-container .carousel-item .image-container:after {
 content:"";
 position:absolute;
 top:-1px;
 left:-1px;
 width:102%;
 height:102%;
 background-image:-webkit-linear-gradient(top,transparent,rgba(0,0,0,.5));
 background-image:linear-gradient(180deg,transparent,rgba(0,0,0,.5))
}
#carousel-container .carousel-item .vevo-player-labels {
 position:absolute;
 top:5%;
 left:4%;
 z-index:100;
 opacity:0;
 cursor:pointer;
 pointer-events:none
}
#carousel-container .carousel-item .vevo-player-labels img {
 width:auto;
 height:18px
}
#carousel-container .carousel-item .carousel-tile-description {
 position:absolute;
 left:4%;
 bottom:5%;
 color:#fff;
 width:50%;
 opacity:1;
 z-index:2
}
#carousel-container .carousel-item .carousel-tile-description .title {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-flow:column nowrap;
 -ms-flex-flow:column nowrap;
 flex-flow:column nowrap;
 margin-bottom:5px;
 padding-bottom:5px;
 border-bottom:3px solid #fff;
 font-size:14px;
 text-transform:uppercase
}
#carousel-container .carousel-item .carousel-tile-description .title .artist-title {
 font-weight:700
}
#carousel-container .carousel-item .carousel-tile-description .title .song-title {
 font-weight:500;
 line-height:1em
}
#carousel-container .carousel-item .carousel-tile-description .description {
 font-size:12px
}
#carousel-container .carousel-item iframe {
 -webkit-transition:opacity .4s ease-in-out;
 transition:opacity .4s ease-in-out;
 position:absolute;
 top:0;
 left:0;
 opacity:0;
 width:100%;
 height: 100%;
}
#carousel-container .carousel-item.focus a {
 pointer-events:all
}
#carousel-container .carousel-item.animating .image-container {
 -webkit-transition:opacity .2s ease-in-out;
 transition:opacity .2s ease-in-out
}
#carousel-container .carousel-item:not(.focus) .image-container {
 opacity:.48
}
#carousel-container .carousel-item.focus .image-container {
 opacity:.9
}
#carousel-container .carousel-item.ken-burns .image-shaped {
 -webkit-transform:scale(1.15);
 -ms-transform:scale(1.15);
 transform:scale(1.15);
 -webkit-transition:-webkit-transform 7s cubic-bezier(.3,0,.7,1);
 transition:transform 7s cubic-bezier(.3,0,.7,1)
}
#carousel-container .carousel-item.focus .vevo-player-labels {
 opacity:1
}
#carousel-container .carousel-item.animating .carousel-tile-description {
 -webkit-transition:opacity .2s ease-in-out;
 transition:opacity .2s ease-in-out
}
#carousel-container .carousel-item.video-playing {
 background-color:#000
}
#carousel-container .carousel-item.video-playing iframe {
 opacity:.9
}
#carousel-container .carousel-item.video-playing .image-shaped,#carousel-container .carousel-item:not(.focus) .carousel-tile-description {
 opacity:0
}
#carousel-container .carousel-inner-container {
 position:absolute;
 width:auto;
 left:50%;
 -webkit-transform:translateX(-50%);
 -ms-transform:translateX(-50%);
 transform:translateX(-50%);
 will-change:transform;
 white-space:nowrap
}
#carousel-container .carousel-inner-container.animating,#carousel-container .carousel-inner-container img {
 -webkit-transition:all .8s ease;
 transition:all .8s ease
}
#carousel-container .carousel-inner-placeholder {
 pointer-events:none;
 width:289px
}
#carousel-container .carousel-inner-placeholder .hold-that-place,#carousel-container .placeholder {
 width:100%;
 padding-bottom:56.25%;
 height:0
}
#carousel-container .placeholder {
 pointer-events:none
}
#carousel-container .carousel-item:not(.focus) .placeholder {
 pointer-events:all
}
@media (min-width:992px) {
 #carousel-container .carousel-navigation {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex
 }
}
@media (min-device-width:768px) {
 #carousel-container .carousel-navigation .arrow.prev {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex
 }
}
@media (max-width:500px) {
 #carousel-container .carousel-navigation .arrow.prev {
  left:-20px
 }
}
@media (min-device-width:768px) {
 #carousel-container .carousel-navigation .arrow.next {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex
 }
}
@media (max-width:500px) {
 #carousel-container .carousel-navigation .arrow.next {
  right:-20px
 }
}
@media (min-width:768px) {
 #carousel-container .carousel-item {
  width:585px
 }
}
@media (min-width:1200px) {
 #carousel-container .carousel-item {
  width:650px
 }
}
@media (min-width:768px) {
 #carousel-container .carousel-item .vevo-player-labels img {
  height:20px
 }
}
@media (min-width:1200px) {
 #carousel-container .carousel-item .vevo-player-labels img {
  height:28px
 }
}
@media (min-width:768px) {
 #carousel-container .carousel-item .carousel-tile-description .title {
  font-size:24px
 }
}
@media (min-width:1200px) {
 #carousel-container .carousel-item .carousel-tile-description .title {
  font-size:36px
 }
}
@media (min-width:768px) {
 #carousel-container .carousel-item .carousel-tile-description .description {
  font-size:13px
 }
}
@media (min-width:1200px) {
 #carousel-container .carousel-item .carousel-tile-description .description {
  font-size:16px
 }
}
@media (min-width:768px) {
 #carousel-container .carousel-inner-placeholder {
  width:585px
 }
}
@media (min-width:1200px) {
 #carousel-container .carousel-inner-placeholder {
  width:650px
 }
}